body {
  margin: 0;
  box-sizing: border-box;

}

.h1-mark {

  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;

}

.bookmark-fav{
 margin-top: 40px; 
  border-style: dotted;
border-right: 0;
border-left: 0;
border-width: 2px;


}
.h1-mark::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 25%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  top: 45px;
  background-color: #fec260;
  transition: height 350ms;
  z-index: -1;
}

.main-h2 {
  font-family: "Righteous", sans-serif;

  font-style: normal;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-sub {
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 150px;

}

.btn-danger {
  background-color: #d1512d !important;
}



.site {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 600;
  font-style: normal;
}

td {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 600;
  font-style: normal;
}